/*@font-face {
    font-family: 'fishfingers';
    src: url('./assets/css/fishfingers.ttf');
        }*/
*{
    /*font-family: 'fishfingers';*/
    box-sizing: border-box;
    margin:0;
    padding:0;
     
}
#graphic{
    position:relative;
    display:block;
}
#pause {
    left: 5vh;
}

#musicControl {
    left: 12vh;
}
.topBtn{
    width: 6vh;
    height: 6vh;
    top:2vh;
}
#scorepoint, #nbrbl {
    width: 24vh;
    height: 6vh;
    right: 5vh;
    cursor: default;
}
#nbrbl{
    top:10vh;
    cursor: default;  
}
#blockscore, #nbrblock{
    float:left;
    line-height: 6vh;
    color:white;
    font-size:1.5em;
    padding-left:8px;
}
#go{
    left: 10vh;
}
#next{
    right: 10vh;
    width: 10vh;
    height: 10vh;
}
.botBtn{
    bottom:3vh;
}
.botBtn, .topBtn{
    position:absolute;
    border:none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    background-color: transparent;
    cursor: pointer;
}
.game{
    position:absolute;
}
#unlock{
    right: 22vh;
    bottom: 6vh;
    color: white;
    font-size: 1.4em;
}
#progress{
    position:relative;
}
#barO{
    background-color: #000;
    width: 80%;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 12vh;
    border-radius:15px;
    overflow:hidden;
    z-index:0;
    position:relative;
}
#barI{
    background-color: #FFF;
    z-index: 1;
    height: 6vh;
    position: absolute;
    width: 112%;
    display: block;
    top: -1vh;
    left: -107%;
    border-radius: 14px;
    margin-top: 6px;
}
#imgTete{
    position:absolute;
    top:-55px;
}
#imgcont{
    width:80%;
    position:relative;
    margin-left: 12vh;
}